<div class="container">

    <div class="flex justify-content-center">
        <h1>Preencha seus dados</h1>
    </div>

    <form [formGroup]="userForm">
        <div class="grid flex-column align-content-center p-fluid">

            <div class="col-10 md:col-5 lg:col-3">
                <span class="p-float-label">
                    <input id="name-input" type="text" pInputText formControlName="name">
                    <label for="name-input">Nome</label>
                </span>

                <div class="mt-1">
                    <p-message text="{{ getErrorMessage('name', userForm) }}" *ngIf="getErrorMessage('name', userForm)"
                        severity="error">
                    </p-message>
                </div>
            </div>

            <div class="col-10 md:col-5 lg:col-3">
                <span class="p-float-label">
                    <input id="email-input" type="text" pInputText formControlName="email">
                    <label for="email-input">E-mail</label>
                </span>

                <div class="mt-1">
                    <p-message text="{{ getErrorMessage('email', userForm) }}" *ngIf="getErrorMessage('email', userForm)" severity="error">
                    </p-message>
                </div>
            </div>

            <div class="col-10 md:col-5 lg:col-3" formGroupName="pass">
                <span class="p-float-label">
                    <p-password id="pass-input" [toggleMask]="true" [feedback]="false"
                        formControlName="password"></p-password>
                    <label for="pass-input">Senha</label>
                </span>

                <div class="mt-1">
                    <p-message text="{{ getErrorMessage('pass.password', userForm) }}" *ngIf="getErrorMessage('pass.password', userForm)"
                        severity="error">
                    </p-message>
                </div>

                <div class="mt-3">
                    <span class="p-float-label">
                        <p-password id="pass-confirm-input" [toggleMask]="true" [feedback]="false"
                            formControlName="confirmationPassword"></p-password>
                        <label for="pass-confirm-input">Confirme sua senha</label>
                    </span>
                </div>

                <div class="mt-1">
                    <p-message text="{{ getErrorMessage('pass.confirmationPassword', userForm) }}"
                        *ngIf="getErrorMessage('pass.confirmationPassword', userForm)" severity="error">
                    </p-message>
                </div>

                <div class="mt-1">
                    <p-message text="{{ getErrorMessage('pass', userForm) }}" *ngIf="getErrorMessage('pass', userForm)" severity="error">
                    </p-message>
                </div>
            </div>

            <div class="col-10 md:col-5 lg:col-3">
                <button pButton pRipple type="button" label="Cadastrar" class="p-button-raised"
                    [disabled]="userForm.invalid"></button>
            </div>
        </div>
    </form>
</div>