<div class="container">

    <div class="flex justify-content-center">
        <h1>Crie sua nova senha</h1>
    </div>

    <form [formGroup]="passForm">
        <div class="grid flex-column align-content-center p-fluid">

            <div class="col-10 md:col-5 lg:col-3" formGroupName="pass">
                <span class="p-float-label">
                    <p-password id="pass-input" [toggleMask]="true" [feedback]="false" formControlName="newPassword"
                        (onBlur)="getErrorMessage(['pass.newPassword','pass'], passForm)"></p-password>
                    <label for="pass-input">Senha</label>
                </span>

                <div class="mt-1">
                    <p-message text="{{ errorMap.get('pass.newPassword')?.message }}"
                        *ngIf="errorMap.get('pass.newPassword')?.hasError" severity="error">
                    </p-message>
                </div>

                <div class="mt-3">
                    <span class="p-float-label">
                        <p-password id="pass-confirm-input" [toggleMask]="true" [feedback]="false"
                            formControlName="confirmationPassword"
                            (onBlur)="getErrorMessage(['pass.confirmationPassword','pass'], passForm)"></p-password>
                        <label for="pass-confirm-input">Confirme sua senha</label>
                    </span>
                </div>

                <div class="mt-1">
                    <p-message text="{{ errorMap.get('pass.confirmationPassword')?.message }}"
                        *ngIf="errorMap.get('pass.confirmationPassword')?.hasError" severity="error">
                    </p-message>
                </div>

                <div class="mt-1">
                    <p-message text="{{ errorMap.get('pass')?.message }}" *ngIf="errorMap.get('pass')?.hasError"
                        severity="error">
                    </p-message>
                </div>
            </div>

            <div class="col-10 md:col-5 lg:col-3">
                <button pButton pRipple type="button" label="Cadastrar" class="p-button-raised"
                    [disabled]="passForm.invalid"></button>
            </div>
        </div>
    </form>
</div>