<div class="container">

    <div class="flex justify-content-center">
        <h2>Preencha com seu e-mail cadastrado na plataforma</h2>
    </div>

    <div class="grid flex-column align-content-center p-fluid">
        <div class="col-10 md:col-5 lg:col-3">
            <span class="p-float-label">
                <input id="email-input" type="text" pInputText>
                <label for="email-input">E-mail</label>
            </span>
        </div>

        <div class="col-10 md:col-5 lg:col-3">
            <button pButton pRipple type="button" label="Recuperar acesso"
                class="p-button-raised p-button-primary"></button>
        </div>
    </div>
</div>