<div class="container">

    <div class="flex justify-content-center">
        <h1>Seja bem-vindo!</h1>
    </div>

    <div class="grid flex-column align-content-center p-fluid">
        <div class="col-10 md:col-5 lg:col-3">
            <span class="p-float-label">
                <input id="email-input" type="text" pInputText>
                <label for="email-input">E-mail</label>
            </span>
        </div>

        <div class="col-10 md:col-5 lg:col-3">
            <span class="p-float-label">
                <p-password id="pass-input" [toggleMask]="true"></p-password>
                <label for="pass-input">Senha</label>
            </span>
        </div>

        <div class="col-10 md:col-5 lg:col-3">
            <button pButton pRipple type="button" label="Login" class="p-button-raised"></button>
        </div>

        <div class="col-10 md:col-5 lg:col-3">
            <a href="" style="text-decoration: none;">Esqueci minha senha</a>
        </div>

        <p-divider></p-divider>

        <div class="flex col-10 md:col-5 lg:col-3 mt-5 justify-content-center">
            <span>Ainda não possui conta?</span>
        </div>
        <div class="col-10 md:col-5 lg:col-3">
            <button pButton pRipple type="button" label="Cadastre-se"
                class="p-button-outlined p-button-primary"></button>
        </div>
    </div>
</div>